@import './../common.scss';

$triangleWidth: 10px;

.container {
  padding: 50px;
  > * {
    margin-bottom: 50px;
  }
  @extend %col-align-center;
}
h1{
  -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.9)), color-stop(40%, rgba(0, 0, 0, 0.5)),to(rgba(0, 0, 0, 0)));
}

.upload{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 2px;
  border: 1px dashed #a0a0a0;
  cursor: pointer;

  > span {
    @extend %block-align-center;
    font-size: 50px;
    color: #a0a0a0;
  }

  > input{
    @extend %inherit-parent-container;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .preview{
    @extend %inherit-parent-container;
    @extend %row-align-center;

    > img{
      width: auto;
      height: 100%;
    }
  }
}

.tip{
  position: relative;
  margin-top: -40px;
  padding: 8px;
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;

  &::after{
    content: '';
    display: block;
    position: absolute;
    top: calc(-#{$triangleWidth} * 2);
    left: calc(50% - #{$triangleWidth}/2);
    @include triangle(up, 10px, #000);
  }
}

.startBtn{
  padding: 8px 10px;
  background-color: #a0a0a0;
  color: #fff;
  box-shadow: 2px 0 3px 0 #a0a0a0;
  cursor: pointer;

  &:hover{
    background-color: #F08080;
    box-shadow: 2px 0 3px 0 #F08080;
  }
}

ul{
  display: flex;
  flex-wrap: wrap;
  color: #fff;

  li{
    width: 60px;
    padding: 5px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
